# Python
__pycache__/
*.pyc
*.pyo
*.db
*.log
.venv/
env/

# Env
.env

# Uploads / media
uploads/
media/

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env

# IDE
.vscode/
.idea/